<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<script type="text/javascript" th:fragment="javascript">
$(document).ready(function(){
	
	$("#buscar_producto").autocomplete({
		source: function(request, response){
			$.ajax({
				url: "/factura/cargar-productos/" + request.term,
				dataType: "json",
				data: {
					term: request.term
				},
				success: function(data){
					//Manejo exitoso de la respuesta del servidor
					response($.map(data, function(item){
						return{
							value: item.id,
							label: item.nombre,
							precio: item.valorVenta,
						};
					}));
				},
				error: function(xhr, status, error){
					//Manejo de errores en la solicitud Ajax:
						console.error("Error en la solicitud Ajax: ", status, error);
				}
			});
		},
		select : function(event, ui){
			//$("#buscar_producto").val(ui.item.label);
			
			var linea= $("#plantillaItemsFactura").html();
			
			linea= linea.replace(/{ID}/g, ui.item.value);
			linea= linea.replace(/{NOMBRE}/g, ui.item.label);
			linea= linea.replace(/{VALORVENTA}/g, ui.item.precio);
			
			$("#cargarItemProductos tbody").append(linea);
			
			return false;
		}
	});
	
});
</script>
</body>
</html>