<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<script type="text/javascript" th:fragment="javascript">
$(document).ready(function(){
	
	$("#buscar_producto").autocomplete({
		source: function(request, response){
			$.ajax({
				url: "/factura/cargar-productos/" + request.term,
				dataType: "json",
				data: {
					term: request.term
				},
				success: function(data){
					//Manejo exitoso de la respuesta del servidor
					response($.map(data, function(item){
						return{
							value: item.idProducto,
							label: item.nombre,
							precio: item.valorVenta,
						};
					}));
				},
				error: function(xhr, status, error){
					//Manejo de errores en la solicitud Ajax:
						console.error("Error en la solicitud Ajax: ", status, error);
				}
			});
		},
		select : function(event, ui){
			//$("#buscar_producto").val(ui.item.label);
			
			if(itemsHelper.hasProducto(ui.item.value)){
				itemsHelper.incrementaCantidad(ui.item.value, ui.item.precio);
				return false;
			}
			
			console.log('Producto seleccionado: ', ui.item);
			var linea= $("#plantillaItemsFactura").html();
			
			linea= linea.replace(/{ID}/g, ui.item.value);
			linea= linea.replace(/{NOMBRE}/g, ui.item.label);
			linea= linea.replace(/{VALORVENTA}/g, ui.item.precio);
			console.log('Línea de factura: ', linea)
			
			$("#cargarItemProductos tbody").append(linea);
			itemsHelper.calcularImporte(ui.item.value, ui.item.precio, 1);
			
			return false;
		}
	});
	
	$("formFactura").submit(function(){
		console.log(ui.item);
		$("#plantillaItemsFactura").remove();
		return false;
	});
	
});

var itemsHelper = {
		calcularImporte:function(idProducto, valorVenta, cantidad){
			console.log(this.value);
			console.log('Calculando importe para: ',idProducto, valorVenta, cantidad);
			$("#total_importe_"+ idProducto).html(parseInt(valorVenta) * parseInt(cantidad));
			this.calcularGranTotal();
		},
		hasProducto: function(idProducto){
			
			var resultado = false;
			$('input[name="item_id[]"]').each(function(){
				if(parseInt(idProducto)== parseInt($(this).val())){
					resultado=true;
				}
			});
			return resultado;
		},
		incrementaCantidad: function(idProducto, valorVenta){
			var cantidad = $("#cantidad_" + idProducto).val() ? parseInt($("#cantidad_" + idProducto).val()) : 0;
			$("#cantidad_" + idProducto).val(++cantidad);
			this.calcularImporte(idProducto, valorVenta, cantidad);
		},
		eliminarLineaFactura: function(idProducto){
			$("#row_"+idProducto).remove();
			this.calcularGranTotal();
		},
		calcularGranTotal: function(){
			var total=0;
			//Va a buscar en todos los spans de la factura donde el id del span contenga total_importe_
			$('span[id^="total_importe_"]').each(function(){
				total += parseInt($(this).html());
			});
			$('#gran_total').html(total);
		}
		
}
</script>
</body>
</html>