<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout :: head}"></head>
<body>
	<header th:replace="~{layout/layout :: header}"></header>
	<div class="container py-4">	
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">	
				<img th:if="${producto.fotoProductos != null and #strings.length(producto.fotoProductos) >0}" class="img-thumbnail rounded float-left"
					style="max-width: 25%;" th:src="@{'/uploads/' + ${producto.fotoProductos}}"
					th:alt="${producto.fotoProductos}">

				<ul class="list-group">
					<li class="list-group-item" th:text="${producto.nombre}"></li>
					<li class="list-group-item" th:text="${producto.descripcion}"></li>
					<li class="list-group-item" th:text="${producto.valorCompra}"></li>
					<li class="list-group-item" th:text="${producto.valorVenta}"></li>
					<li class="list-group-item" th:text="${producto.cantidad}"></li>
					<li class="list-group-item" th:text="${producto.creadoEn}"></li>
				</ul>
			</div>
		</div>

	</div>
	<footer th:replace="~{layout/layout :: footer}"></footer>

</body>
</html>